.status-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: white;
  color: gray;
}

.status-bar i {
  font-size: 14px;
}

.status-bar__battery-level {
  margin-left: 5px;
}
